* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Trebuchet', sans-serif;
  font-size: 1.4rem;
  background-image: url(../img/bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

a {
  color: #0d95e8;
  text-decoration: underline dashed;
  transition: 0.2s;
}

.cards {
  width: 1200px;
  position: relative;

  @media (max-width: 1199px) {
    width: 990px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }

  &__title {
    font-family: 'Exo2 Thin';
    font-size: 3.6rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.4rem;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //outline: 1px solid #fff;
  }
}

.card-item {
  width: 320px;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  min-width: 320px;

  &__caption {
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
  }

  &--hover {

    a {
      color: #2ea8e6;
    }

    .card {
      cursor: pointer;
      border-color: #2ea8e6;
    }
    .card__weight {
      background: #2ea8e6;
    }
    line {
      stroke: #2ea8e6;
    }
    .card-bg__top-right {
      border-color: #2ea8e6;
    }
    .card-bg__bottom {
      border-color: #2ea8e6;
    }
  }

  @media (max-width: 1199px) {
    width: calc(100% / 3 - 160px / 3);
  }

}

.card-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;

  &__top-left {
    position: absolute;
    z-index: -1;
  }

  &__top-right {
    width: calc(100% - 45px);
    height: 46px;
    background: #f2f2f2;
    border-top: 0.5rem solid #0d95e8;
    border-right: 0.5rem solid #0d95e8;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    border-top-right-radius: 1.5rem;
  }

  &__bottom {
    background: #f2f2f2;
    border-bottom: 0.5rem solid #0d95e8;
    border-left: 0.5rem solid #0d95e8;
    border-right: 0.5rem solid #0d95e8;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    height: calc(100% - 45px);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.card {
  color: #666666;
  padding: 2.2rem 4.8rem 26.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s;
  margin-bottom: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  min-height: 480px;

  &__slogan {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;

    &--selected {
      display: none;
      color: #e62e7a;
      position: relative;
    }
  }
  &__title {
    font-size: 4.8rem;
    font-weight: bold;
    color: #000000;
  }
  &__subtitle {
    font-size: 2.4rem;
    font-weight: bold;
    color: #000000;
  }
  &__weight {
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: 0.2s;
  }
  &__content {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;

    p {
      margin: 0;
    }
  }
}

.card-item {
}

.weight {
  width: 80px;
  height: 80px;
  color: #ffffff;
  background: #1698d9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 4.2rem;
  line-height: 1;

  &__measure {
    font-size: 0.5em;
  }
}

.card-item--selected {

  a {
    color: #d91667;
  }

  .card {
    border-color: #d91667;
  }
  .card__weight {
    background: #d91667;
  }
  .card-caption__selected {
    display: block;
  }
  .card-caption__default {
    display: none;
  }
  line {
    stroke: #d91667;
  }
  .card-bg__top-right {
    border-color: #d91667;
  }
  .card-bg__bottom {
    border-color: #d91667;
  }
}

.card-item--selected-hover {

  a {
    color: #e62e7a;
  }

  .card {
    cursor: pointer;
    border-color: #e62e7a;
  }
  .card__weight {
    background: #e62e7a;
  }
  .card__slogan {
    display: none;
  }
  .card__slogan--selected {
    display: block;
  }
  line {
    stroke: #e62e7a;
  }
  .card-bg__top-right {
    border-color: #e62e7a;
  }
  .card-bg__bottom {
    border-color: #e62e7a;
  }
}

.card-item--disabled, .card-item--disabled:hover {

  a {
    color: #b3b3b3;
  }

  .card,
  .card__title,
  .card__subtitle,
  .card__slogan {
    color: rgb(179, 179, 179);
    border-color: #b3b3b3;
    cursor: default;
  }
  .card-bg__bottom img,
  .card__title,
  .card__subtitle,
  .card__slogan {
    opacity: 0.5;
  }
  .card__weight {
    background: #b3b3b3;
  }
  .card-item__caption {
    color: #ffff66;
  }
  .card-caption__selected {
    display: none;
  }
  .card-caption__default {
    display: none;
  }
  .card-caption__disabled {
    display: block;
  }
  line {
    stroke: #b3b3b3;
  }
  .card-bg__top-right {
    border-color: #b3b3b3;
  }
  .card-bg__bottom {
    border-color: #b3b3b3;
  }
}

.card-caption {
  &__selected {
    display: none;
  }
  &__default {
    display: block;
  }
  &__disabled {
    display: none;
  }
}
