@font-face {
  font-family: 'Trebuchet';
  src: url('../fonts/TrebuchetMS.eot');
  src: url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrebuchetMS.woff') format('woff'),
  url('../fonts/TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet';
  src: url('../fonts/TrebuchetMS-Bold.eot');
  src: url('../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrebuchetMS-Bold.woff') format('woff'),
  url('../fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2 Thin';
  src: url('../fonts/Exo2-Thin.eot');
  src: url('../fonts/Exo2-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2-Thin.woff') format('woff'),
  url('../fonts/Exo2-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}