<h3>Логотип со ссылкой</h3>
<!-- Logo with link -->
<div class="logo">
    <a href="#" class="logo__link">
        <img width="100" src="../img/logo_1.png" alt="Logo" class="logo__img">
    </a>
</div>
<h3>Логотип без ссылки</h3>
<!-- Logo without link -->
<div class="logo">
    <img width="100" src="../img/logo_2.png" alt="Logo" class="logo__img">
</div>