<h3>Меню</h3>
<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link menu__link_active">
                Home
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link">
                News
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link">
                Contacts
            </a>
        </li>
    </ul>
</nav>